@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700&display=swap');

/* 전체 문서에 Pretendard 폰트 적용 */
body, p, a, button, li, div {
    font-family: 'Pretendard', sans-serif;
}

html{
    overflow-y:scroll;
    scrollbar-gutter: stable;
}


  
/* 1920px 이상일 때는 가로 스크롤 숨김 */
@media screen and (min-width: 1900px) {
    html, body {
        overflow-x: hidden;
    }
}

  

body{background-color:#150f09}

/* 접근성에 맞는 숨김 처리 */
.hide {
    position: absolute !important;
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    white-space: nowrap; 
    border: 0;
}

button{cursor: pointer;}
  
.wrap{
    width:1900px;
    margin:0 auto;
    background:url('../img/bg_body.jpg') no-repeat;
}

.header{
    height:324px; 
    background:url('../img/bg_header.png') no-repeat;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px 100px 50px;
}

.aside button{
    display:block;width:338px;height:119px;background:url('../img/btn_game.png') no-repeat;
}
.aside button:hover{
    background:url('../img/btn_game_over.png') no-repeat;
    transition: background .3s;
}
.aside button:active{
    background:url('../img/btn_game_click.png') no-repeat;
    transition: background 0s;
}

nav {
    background-color: transparent;
    position:relative;
    z-index:1000;
}

.gnb {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    gap: 100px;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    position:relative;
    display: block;
    padding: 5px 15px;
    color: #9f9eb1;
    font-size:30px;
    text-decoration: none;
}

.gnb > li > a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e39c25;
    transform: scaleX(0);          /* 처음에는 안 보이게 */
    transform-origin: left center; /* 왼쪽에서 시작 */
    transition: transform 0.3s ease;
}

/* li 전체 hover 시 밑줄 유지 */
.gnb > li:hover > a::after {
    transform: scaleX(1);
}


.gnb > li:hover > a {
    /* background-color: #444; */
    color:#fff;
}

.sub-menu {
    display: none; /* 기본적으로 서브 메뉴 숨김 */
    position: absolute;
    top: 100%;
    width:100%;
    left: 0;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
    background-color: #060403;
}

.sub-menu li a {
    font-size:22px;
    font-weight:300;
    padding: 5px 10px;
    color: #827a63;
    text-decoration: none;
    white-space: nowrap;
    display:inline-block;
    width:100%;
    line-height:normal;
}
.sub-menu li a:hover{
    color: #fff;
}

/* 서브 메뉴가 나타날 때의 스타일 */
.show {
    display: block; /* show 클래스를 추가하면 서브 메뉴 표시 */
}

.main-video01 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 533px;
    overflow:hidden;
}
.main-video01 iframe{
    vertical-align:top;
}
.main-video01::after{
    content: '';
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
}
.slogan{margin-top:-583px;position:relative;z-index:2}
.slogan img{max-width:100%;width:100%}
.main-title{font-size:70px;line-height:normal;font-weight:700;color:#fff;background:url('../img/bg_main_title.png') 0 90% no-repeat;padding-left:50px;}
.main-news-wrap{height:870px;background:url('../img/bg_main_news.png') no-repeat}
.main-news-wrap ul{display:flex;gap:45px;padding-top:100px;justify-content: center;}
.main-news-wrap li{position:relative;width:420px;height:580px;background:#000}
.main-news-wrap li a{display:block}
.main-news-wrap li a::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width: 0px;
    height: 0px;
    border-left: 0px solid transparent;
    border-right: 160px solid transparent;
}
.main-news-wrap li a.main-news-notice::before{
    border-top: 70px solid #ffc000;
}
.main-news-wrap li a.main-news-event::before{
    border-top: 70px solid #03b6f8;
}
.main-news-wrap li a.main-news-update::before{
    border-top: 70px solid #66fb01;
}
.main-news-wrap li a::after{
    content:'';
    position:absolute;
    left:10px;
    top:5px;
    font-size:22px;
    color:#000;
    font-weight:500;
}
.main-news-wrap li a.main-news-notice::after{
    content:'공지';
}
.main-news-wrap li a.main-news-event::after{
    content:'이벤트';
}
.main-news-wrap li a.main-news-update::after{
    content:'업데이트';
}
.main-news-img{height:390px;width:100%;object-fit:cover}
.main-news-txt{height:190px;background:#fff;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:10px}
.main-news-subj{font-size:34px;color:#000;font-weight:700;width:295px;text-align:center;line-height:normal}
.main-news-date{font-size:33px;color:#000;font-weight:700}

.main-character{padding:100px 0 200px;}
.main-character-wrap ul{display:flex;height:1003px;overflow:hidden}
.main-character-wrap li{flex:1;background:url('../img/main_character01.jpg') no-repeat;transition:all .5s ease-out}
.main-character-wrap li:hover,
.main-character-wrap li.active{flex:4.5}
.main-character-wrap li:nth-child(2){background:url('../img/main_character02.jpg') no-repeat}
.main-character-wrap li:nth-child(3){background:url('../img/main_character03.jpg') no-repeat}
.main-character-wrap li:nth-child(4){background:url('../img/main_character04.jpg') no-repeat}
.main-character-tit{font-size:45px;color:#fff;font-weight:600;margin-top:380px;background:url('../img/bg_main_character.png') no-repeat;padding:20px;transition:all .5s ease-out}
.main-character-con{width:0px;height:164px;background:url('../img/bg_main_character02.png') no-repeat;color:#fff;font-size:33px;line-height:40px;padding:20px 0px;white-space:nowrap;overflow:hidden;transition:all .5s ease-out;margin-left:20px;opacity:0}
.main-character-wrap:hover .main-character-tit,
.main-character-wrap.hover .main-character-tit{margin-top:50px;background:none}
.main-character-wrap:hover .main-character-con,
.main-character-wrap.hover .main-character-con{width:230px;padding:20px 0 0 20px;opacity:1}
.main-character-wrap li:hover .main-character-con,
.main-character-wrap li.active .main-character-con{width:855px;opacity:1}
.main-character-video{position:relative;margin:20px 0 0 20px;width:0px;overflow:hidden;transition:width 0.5s ease-out}
.main-character-wrap li:hover .main-character-video{width:1100px}
.main-character-wrap li .main-character-video::after{
    content: '';
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
}

.footer{background:#1b1f27;display:flex;justify-content: space-between;padding:50px;margin-top:100px}
.footer .footer-menu ul{display:flex;justify-content: center;padding-top:20px}
.footer .footer-menu li{display:flex}
.footer .footer-menu li + li::before{content:'';width:2px;height:37px;background:#fff;margin:0 50px}
.footer .footer-menu a{color:#fff;font-size:24px;height:37px;line-height:37px}
.footer .footer-copy{font-size:30px;color:#fff;font-weight:300;padding-top:30px}
.footer-sns{display:flex; align-items: center; gap:12px; margin: -20px 0}
.footer-sns img{margin-left:10px}
.footer-sns .footer-youtube{width:106px;height:105px;background:url('../img/footer_youtube.png') no-repeat;transition: background .3s;}
.footer-sns .footer-youtube:hover{background:url('../img/footer_youtube_over.png') no-repeat}
.footer-sns .footer-blog{width:108px;height:107px;background:url('../img/footer_blog.png') no-repeat;transition: background .3s;}
.footer-sns .footer-blog:hover{background:url('../img/footer_blog_over.png') no-repeat}

/* 모달 기본 숨김 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000; /* 화면 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8); /* 반투명 배경 */
}

/* 모달 박스 */
.modal .modal-content {
    position:relative;
    background-color: #fff;
    margin: 15% auto; /* 화면 중앙 */
    padding: 48px;
    /* border-radius: 8px; */
    width: 835px;
    height: 459px;
    background:url('../img/bg_pop.jpg') no-repeat;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal .modal-content h2{font-size:44px;color:#fff;font-weight:700;text-align:center}

/* 닫기 버튼 */
.modal .close {
    position:absolute;
    right:17px;
    top:16px;
    width:30px;
    height:30px;
    background:url('../img/ico_close.png') no-repeat;
    cursor: pointer;
}

.modal .close:hover {
    background:url('../img/ico_close_over.png') no-repeat;
}
  
.game-play{display:flex;flex-direction: column; gap:22px; margin-top:60px}
.play-steam{width:739px;height:63px;background:url('../img/btn_steam.png') no-repeat}
.play-steam:hover{background:url('../img/btn_steam_over.png') no-repeat}
.play-steam:active{background:url('../img/btn_steam_click.png') no-repeat}
.play-epic{width:739px;height:63px;background:url('../img/btn_epic.png') no-repeat}
.play-epic:hover{background:url('../img/btn_epic_over.png') no-repeat}
.play-epic:active{background:url('../img/btn_epic_click.png') no-repeat}

.tab-content { display: none; }
.tab-content.active { display: block; }
.tab-buttons li.active { font-weight: bold; }
.tabs > div{color:#fff}

.sub-news{background:#000}
.sub-news-wrap{background:#000}
.sub-news-wrap ul{display:grid;grid-template-columns: repeat(4, 1fr); gap:45px;padding:60px 40px 0;justify-items: center;}
.sub-news-wrap li{position:relative;width:420px;height:580px;background:#2e261c}
.sub-news-wrap li a{display:block}
.sub-news-wrap li a::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width: 0px;
    height: 0px;
    border-left: 0px solid transparent;
    border-right: 160px solid transparent;
}
.sub-news-wrap li a.sub-news-notice::before{
    border-top: 70px solid #ffc000;
}
.sub-news-wrap li a.sub-news-event::before{
    border-top: 70px solid #03b6f8;
}
.sub-news-wrap li a.sub-news-update::before{
    border-top: 70px solid #66fb01;
}
.sub-news-wrap li a::after{
    content:'';
    position:absolute;
    left:10px;
    top:5px;
    font-size:22px;
    color:#000;
    font-weight:500;
}
.sub-news-wrap li a.sub-news-notice::after{
    content:'공지';
}
.sub-news-wrap li a.sub-news-event::after{
    content:'이벤트';
}
.sub-news-wrap li a.sub-news-update::after{
    content:'업데이트';
}
.sub-news-img{height:390px;width:100%;object-fit:cover}
.sub-news-txt{height:190px;background:#fff;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:10px}
.sub-news-subj{font-size:34px;color:#000;font-weight:700;width:295px;text-align:center;line-height:normal}
.sub-news-date{font-size:33px;color:#000;font-weight:700}

.sub-visual01{height:308px;background:url('../img/bg_sub1.png') no-repeat}
.tabs{padding-top:35px}
.tabs-inner{display:flex;margin:0 40px}
.tabs-inner button{flex:1;height:80px;font-size:36px;color:#8c8ca7;font-weight:500;background:#271e13;border:solid 2px #725432}
.tabs-inner button[aria-selected="true"] { background-color: #cd8828; color: #000; }
.pagination {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    gap: 8px;
    padding: 60px 0;
}

.pagination button {
    padding: 6px 12px;
    background:none;
    color:#fff;
    cursor: pointer;
    font-size: 28px;
}
.pagination button.active{color:#fcd04a;font-weight:700}
.pagination button:hover{color:#fcd04a}
.pagination button.prev{margin-right:10px}
.pagination button.next{margin-left:10px}